/* footer.module.css */

.footerFoot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #222;
    color: white;
    border-top: 1px solid #444;
  }
  
  .logoFooter {
    width: 150px;
    height: auto;
  }
  
  .navbarFooter {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
  }
  
  .navbarFooter li {
    position: relative;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
  }
  
  .navbarFooter li::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ff4500;
    transition: width 0.3s ease;
  }
  
  .navbarFooter li:hover {
    color: #ff4500; /* cor de destaque */
    transform: scale(1.1);
  }
  
  .navbarFooter li:hover::before {
    width: 100%; /* animação de borda ao passar o mouse */
  }
  
  @media (max-width: 768px) {
    .footerFoot {
      flex-direction: column;
      text-align: center;
      padding: 20px;
    }
  
    .navbarFooter {
      flex-direction: column;
      gap: 10px;
    }
  
    .logoFooter {
      margin-bottom: 20px;
    }
  }
  