.navbarHeader {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 20px;  
  background-color: rgb(196, 188, 188);
}

.navbarMenu {
  display: flex;
  margin-left: 70px;
}

.navbarMenu li {
  cursor: pointer;
  padding: 5px 20px;
  list-style: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  font-size: 20px; 
  color: black;
}

.navbarMenu li:hover {
  color: black;
}

.navbar {
  background-color: #fff;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; 
}

.navLink{
  text-decoration: none;
}

.logoNav {
  width: 180px;
  height: 162px;
}

.menu{
  height: 25px;
  width: 25px;
}

.search {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 5px 10px;
}

.search input {
  padding: 10px;
  font-size: 16px;
  border: 3px solid black; 
  border-radius: 5px;
  outline: none;
  width: 200px;
  color: white; 
}

.search input:focus {
  
}

.search button {
  border: none;
  padding: 10px;
  margin-left: -5px; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.search button:hover {
}

.search button i {
  font-size: 20px; 
}


.filters {
  position: relative; 
}

.filters .icon {
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
}


.filters .filterOptions {
  display: none; 
  position: absolute;
  top: 40px; 
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 150px;
}


.filters .icon:hover .filterOptions {
  display: block;
}

.filters .filterOptions button {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: none;
  background-color: #f8f8f8;
  cursor: pointer;
  text-align: left;
}

.filters .filterOptions button:hover {
  background-color: #e0e0e0;
}
