.produtoLista {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto; /* Centraliza o container */
  max-width: 1200px; /* Largura máxima para o container */
  padding: 20px;
}

.produtoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; /* Largura fixa para os cards */
  margin: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden; /* Esconde qualquer coisa que ultrapasse os limites do card */
  transition: transform 0.3s ease; /* Transição para o hover */
}

.produtoCard:hover {
  transform: scale(1.05); /* Efeito de zoom no card */
}


svg {
  position: absolute;
   top: 50%; 
   left: 50%; 
   height: 50px;
   width: 50px;
}