.produtoLista {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: black;
  font-family: monospace;
}

.produtoCard {
  list-style: none;
  padding: 14px;
  width: 400px;
  margin-left: 20px;
}

.image {
  width: 87%; 
  height: 350px; 
  object-fit: cover; 
  padding: 45px; 
  transition: transform 0.3s;  
}

.image:hover {
  transform: scale(1.05); 
}

.produtoTitulo{
  font-size: .875rem;
  color: #333; 
  margin-bottom: 10px; 
  text-transform: uppercase; 
}

.produtoInfo{
  font-size: 12px; 
  margin-bottom: 5px; 
  color: #555; 
}


